<section class="order_page">
    <div class="all_orders">
        <h3 class="d1">All Orders</h3>
        <table class="order_table" >
            <thead>
                <tr>
                    <th>Orders</th>
                    <th>Customer</th>
                    <th>Addresss</th>
                    <th>Status</th>
                    <th>Placed At</th>
                    <th>Payment Status</th>
                </tr>
            </thead>
            <tbody id="orderTableBody">

            </tbody>
        </table>
    </div>
</section>