
<link rel="stylesheet" href="/css/style.css">
<script src="/js/app.js"></script>
<section class="status">
    <div id="tracker">
        <div id="track_heading">
            <h2>Track Delivery Status</h2>
            <h3> <%=order._id %></h3>
            <input id="hidden_status" type="hidden" value=" <%= JSON.stringify(order) %>"> 
        </div>
        <!-- <div class="track-icon">
            <i class="fa-solid fa-clipboard-list fa-2xl"></i>
        </div> -->
        <ul id="status-list">
            <li class="status-line" data-status="order_placed"><span>Order Placed</span></li>
            <li class="status-line" data-status="confirmed"><span>Order Confirmed</span></li>
            <li class="status-line" data-status="preparation"><span>Preparation</span></li>
            <li class="status-line" data-status="delivered"><span>Out for delivery</span></li>
            <li class="status-line" data-status="completed"><span>Completed</span></li>
        </ul>
        <!-- &#xf0d1;
        <i class="las la-truck"></i> -->
    </div>
</section>